-- Generated INSERT statements for Vendors table
-- Total records: 19
-- Generated on: 2025-11-23 17:17:01

USE AKPayDB;
GO

INSERT INTO Vendors (vendorName, vendorBalance, lastUpdateTime, managerName, managerPhone, statusID)
VALUES ('LUMS Pharmacy', 857.75, '2025-07-08 07:09:53', 'Maryam Iqbal', '33917550476', 1);
INSERT INTO Vendors (vendorName, vendorBalance, lastUpdateTime, managerName, managerPhone, statusID)
VALUES ('LUMS Store', 22789.08, '2024-12-02 06:17:35', 'Fahad Akhtar', '35405505772', 1);
INSERT INTO Vendors (vendorName, vendorBalance, lastUpdateTime, managerName, managerPhone, statusID)
VALUES ('Zakir', 1108.4, '2025-09-08 09:22:42', 'Arslan Haider', '37586434618', 2);

GO

-- Successfully generated 19 INSERT statements
-- Approximately 1 records have NULL managerName (3.0%)
-- Approximately 1 records have NULL managerPhone (3.0%)
-- Approximately 1 records have status 'On Break' (10.0%)
-- Majority have status 'Open' (1) or 'Closed' (2)
-- Few have status 'Permanently Closed' (4) or 'Suspended' (5)

SELECT * FROM Vendors
GO