-- Generated INSERT statements for TopUpTransactions table
-- Total records: 800
-- Generated on: 2025-11-23 02:25:19

USE AKPayDB;
GO

INSERT INTO TopUpTransactions (sourceID, toUserID, amount, txTimeStamp, txStatusID)
VALUES (3, 276, 1608.16, '2025-07-30 23:06:18', 5);
INSERT INTO TopUpTransactions (sourceID, toUserID, amount, txTimeStamp, txStatusID)
VALUES (5, 252, 15669.2, '2025-07-11 08:38:01', 4);
INSERT INTO TopUpTransactions (sourceID, toUserID, amount, txTimeStamp, txStatusID)
VALUES (3, 409, 9297.08, '2025-05-16 19:31:04', 5);

GO

-- Successfully generated 800 INSERT statements
-- Source distribution: ~30% Card, ~25% Mobile Wallet, ~20% Bank, ~15% Cash, ~7% Cheque, ~3% Admin
-- Status distribution: ~80% Accepted, ~8% Pending, ~7% Sync Pending, ~3% Sync Failed, ~2% Invalid
-- Amount range: 100.00 to 20000.00
-- Timestamp range: Last 1 year

SELECT * FROM TopUpTransactions
GO