-- Generated INSERT statements for Notifications table
-- Total records: 1500
-- Generated on: 2025-11-23 17:21:37

USE AKPayDB;
GO

INSERT INTO Notifications (recipientType, recipientID, txType, txID, msg, createdAt, isRead, notifType)
VALUES ('Vendor', 14, 'VendorPay', 55, 'Vendor account credited with Rs. 58994.75.', '2025-07-09 18:01:30', 1, 'Success');
INSERT INTO Notifications (recipientType, recipientID, txType, txID, msg, createdAt, isRead, notifType)
VALUES ('Vendor', 2, 'VendorPay', 170, 'Admin payment of Rs. 91612.72 processed.', '2025-06-16 00:51:45', 0, 'Success');
INSERT INTO Notifications (recipientType, recipientID, txType, txID, msg, createdAt, isRead, notifType)
VALUES ('User', 44, 'Regular', 38, 'Transaction completed successfully. Amount: Rs. 831.29', '2025-07-25 07:10:46', 1, 'Success');

GO

-- Successfully generated 1500 INSERT statements
-- Recipient type: ~75% User, ~25% Vendor (IDs 1-19 for vendors)
-- Notification type: ~75% Success, ~15% Failure, ~10% Info
-- Transaction type: ~50% Regular, ~25% TopUp, ~15% VendorPay, ~10% Info
-- Read status: ~65% read, ~35% unread
-- Timestamp range: Last 6 months
SELECT * FROM Notifications
GO