-- Generated INSERT statements for RegularTransactions table
-- Total records: 1000
-- Generated on: 2025-11-23 17:20:49

USE AKPayDB;
GO

INSERT INTO RegularTransactions (fromUserID, toVendorID, amount, txTimeStamp, paymentMode, txStatusID)
VALUES (121, 5, 534.8, '2025-11-19 15:32:00', 'Offline', 5);
INSERT INTO RegularTransactions (fromUserID, toVendorID, amount, txTimeStamp, paymentMode, txStatusID)
VALUES (244, 10, 874.58, '2025-07-05 18:14:26', 'Offline', 5);
INSERT INTO RegularTransactions (fromUserID, toVendorID, amount, txTimeStamp, paymentMode, txStatusID)
VALUES (2, 18, 1058.57, '2025-09-09 15:12:32', 'Online', 5);

GO

-- Successfully generated 1000 INSERT statements
-- Status distribution: ~70% Accepted, ~10% Pending, ~10% Sync Pending, ~5% Sync Failed, ~5% Invalid
-- Payment mode distribution: ~60% Online, ~40% Offline
-- Amount range: 10.00 to 10000.00
-- Timestamp range: Last 6 months
SELECT * FROM RegularTransactions
GO