-- Generated INSERT statements for VendorPaymentTransaction table
-- Total records: 300
-- Generated on: 2025-11-23 17:25:53

USE AKPayDB;
GO

INSERT INTO VendorPaymentTransaction (toVendorID, amount, txTimeStamp, txStatusID)
VALUES (7, 441835.1, '2025-11-07 12:22:31', 5);
INSERT INTO VendorPaymentTransaction (toVendorID, amount, txTimeStamp, txStatusID)
VALUES (5, 186411.87, '2025-05-03 14:44:09', 5);
INSERT INTO VendorPaymentTransaction (toVendorID, amount, txTimeStamp, txStatusID)
VALUES (12, 248063.04, '2025-05-15 08:08:19', 5);

GO

-- Successfully generated 300 INSERT statements
-- Status distribution: ~85% Accepted, ~8% Sync Pending, ~5% Sync Failed, ~2% Pending
-- Amount range: 1000.00 to 500000.00 (settlement amounts)
-- Timestamp range: Last 1 year (business hours)
-- All payments are from admin to vendors

SELECT * FROM VendorPaymentTransaction
GO