-- Generated INSERT statements for Users table
-- Total records: 500
-- 25 accounts marked as deleted (5.0%)
-- Generated on: 2025-11-23 18:42:27

USE AKPayDB;
GO

INSERT INTO Users (email, phone, fullName, passwordHash, userType, dateCreated, IsDeleted, DateDeleted)
VALUES ('user1@lums.edu.pk', '36050865509', 'Hira Yousaf', '0b14d501a594442a01c6859541bcb3e8164d183d32937b851835442f69d5c94e', NULL, '2024-01-02 05:16:23', 0, NULL);
INSERT INTO Users (email, phone, fullName, passwordHash, userType, dateCreated, IsDeleted, DateDeleted)
VALUES ('00002@lums.edu.pk', '34969967926', 'Kashif Jamil', '6cf615d5bcaac778352a8f1f3360d23f02f34ec182e259897fd6ce485d7870d4', 'admin', '2025-06-12 19:40:46', 0, NULL);
INSERT INTO Users (email, phone, fullName, passwordHash, userType, dateCreated, IsDeleted, DateDeleted)
VALUES ('lums3@lums.edu.pk', '35524830986', 'Aisha Waheed', '5906ac361a137e2d286465cd6588ebb5ac3f5ae955001100bc41577c3d751764', 'worker', '2024-07-25 00:07:18', 0, NULL);

GO

-- Successfully generated 500 INSERT statements
-- Approximately 50 records have NULL userType (10.0%)
-- 25 records marked as deleted (5.0%)
SELECT * FROM Users
GO