-- Generated UPDATE statements for UserAccounts table
-- Total records: 500
-- 95% of accounts (475) set to IsActive = 1
-- Generated on: 2025-11-23 18:39:24

USE AKPayDB;
GO

UPDATE UserAccounts SET userBalance = 11.92, IsActive = 1 WHERE userID = 1;
UPDATE UserAccounts SET userBalance = 16846.09, IsActive = 1 WHERE userID = 2;
UPDATE UserAccounts SET userBalance = 6195.84, IsActive = 1 WHERE userID = 3;
UPDATE UserAccounts SET userBalance = 466.2, IsActive = 1 WHERE userID = 4;
UPDATE UserAccounts SET userBalance = 14051.88, IsActive = 1 WHERE userID = 5;
UPDATE UserAccounts SET userBalance = 34973.79, IsActive = 1 WHERE userID = 6;
UPDATE UserAccounts SET userBalance = 162.67, IsActive = 1 WHERE userID = 7;
UPDATE UserAccounts SET userBalance = 3088.83, IsActive = 1 WHERE userID = 8;
UPDATE UserAccounts SET userBalance = 3800.31, IsActive = 1 WHERE userID = 9;
UPDATE UserAccounts SET userBalance = 375.45, IsActive = 1 WHERE userID = 10;
UPDATE UserAccounts SET userBalance = 2165.6, IsActive = 1 WHERE userID = 11;
UPDATE UserAccounts SET userBalance = 2352.22, IsActive = 1 WHERE userID = 12;
UPDATE UserAccounts SET userBalance = 9241.6, IsActive = 1 WHERE userID = 13;
UPDATE UserAccounts SET userBalance = 12256.23, IsActive = 1 WHERE userID = 14;
UPDATE UserAccounts SET userBalance = 37888.9, IsActive = 1 WHERE userID = 15;
UPDATE UserAccounts SET userBalance = 296.08, IsActive = 1 WHERE userID = 16;
UPDATE UserAccounts SET userBalance = 258.92, IsActive = 1 WHERE userID = 17;
UPDATE UserAccounts SET userBalance = 5067.73, IsActive = 1 WHERE userID = 18;
UPDATE UserAccounts SET userBalance = 682.83, IsActive = 1 WHERE userID = 19;
UPDATE UserAccounts SET userBalance = 12236.72, IsActive = 1 WHERE userID = 20;
UPDATE UserAccounts SET userBalance = 10.17, IsActive = 1 WHERE userID = 21;
UPDATE UserAccounts SET userBalance = 47698.45, IsActive = 1 WHERE userID = 22;
UPDATE UserAccounts SET userBalance = 3527.31, IsActive = 1 WHERE userID = 23;
UPDATE UserAccounts SET userBalance = 76.98, IsActive = 1 WHERE userID = 24;
UPDATE UserAccounts SET userBalance = 1622.18, IsActive = 1 WHERE userID = 25;
UPDATE UserAccounts SET userBalance = 4174.04, IsActive = 1 WHERE userID = 26;
UPDATE UserAccounts SET userBalance = 15233.14, IsActive = 1 WHERE userID = 27;
UPDATE UserAccounts SET userBalance = 339.66, IsActive = 1 WHERE userID = 28;
UPDATE UserAccounts SET userBalance = 33034.85, IsActive = 1 WHERE userID = 29;
UPDATE UserAccounts SET userBalance = 357.69, IsActive = 1 WHERE userID = 30;
UPDATE UserAccounts SET userBalance = 26244.96, IsActive = 1 WHERE userID = 31;
UPDATE UserAccounts SET userBalance = 169.36, IsActive = 1 WHERE userID = 32;
UPDATE UserAccounts SET userBalance = 22019.76, IsActive = 1 WHERE userID = 33;
UPDATE UserAccounts SET userBalance = 277.96, IsActive = 1 WHERE userID = 34;
UPDATE UserAccounts SET userBalance = 11153.43, IsActive = 1 WHERE userID = 35;
UPDATE UserAccounts SET userBalance = 321.34, IsActive = 1 WHERE userID = 36;
UPDATE UserAccounts SET userBalance = 22875.68, IsActive = 1 WHERE userID = 37;
UPDATE UserAccounts SET userBalance = 6814.7, IsActive = 1 WHERE userID = 38;
UPDATE UserAccounts SET userBalance = 4547.01, IsActive = 1 WHERE userID = 39;
UPDATE UserAccounts SET userBalance = 487.73, IsActive = 1 WHERE userID = 40;
UPDATE UserAccounts SET userBalance = 10122.32, IsActive = 1 WHERE userID = 41;
UPDATE UserAccounts SET userBalance = 29041.7, IsActive = 1 WHERE userID = 42;
UPDATE UserAccounts SET userBalance = 118.73, IsActive = 1 WHERE userID = 43;
UPDATE UserAccounts SET userBalance = 2354.69, IsActive = 1 WHERE userID = 44;
UPDATE UserAccounts SET userBalance = 16942.19, IsActive = 1 WHERE userID = 45;
UPDATE UserAccounts SET userBalance = 355.36, IsActive = 1 WHERE userID = 46;
UPDATE UserAccounts SET userBalance = 434.29, IsActive = 1 WHERE userID = 47;
UPDATE UserAccounts SET userBalance = 11085.78, IsActive = 1 WHERE userID = 48;
UPDATE UserAccounts SET userBalance = 2252.61, IsActive = 1 WHERE userID = 49;
UPDATE UserAccounts SET userBalance = 23502.48, IsActive = 1 WHERE userID = 50;
UPDATE UserAccounts SET userBalance = 98.66, IsActive = 1 WHERE userID = 51;
UPDATE UserAccounts SET userBalance = 15562.61, IsActive = 1 WHERE userID = 52;
UPDATE UserAccounts SET userBalance = 15554.32, IsActive = 1 WHERE userID = 53;
UPDATE UserAccounts SET userBalance = 8234.59, IsActive = 1 WHERE userID = 54;
UPDATE UserAccounts SET userBalance = 2212.35, IsActive = 1 WHERE userID = 55;
UPDATE UserAccounts SET userBalance = 2573.87, IsActive = 1 WHERE userID = 56;
UPDATE UserAccounts SET userBalance = 7208.39, IsActive = 1 WHERE userID = 57;
UPDATE UserAccounts SET userBalance = 12280.51, IsActive = 1 WHERE userID = 58;
UPDATE UserAccounts SET userBalance = 18731.63, IsActive = 1 WHERE userID = 59;
UPDATE UserAccounts SET userBalance = 722.05, IsActive = 1 WHERE userID = 60;
UPDATE UserAccounts SET userBalance = 5114.6, IsActive = 1 WHERE userID = 61;
UPDATE UserAccounts SET userBalance = 26772.17, IsActive = 1 WHERE userID = 62;
UPDATE UserAccounts SET userBalance = 39860.2, IsActive = 1 WHERE userID = 63;
UPDATE UserAccounts SET userBalance = 199.18, IsActive = 1 WHERE userID = 64;
UPDATE UserAccounts SET userBalance = 47.26, IsActive = 1 WHERE userID = 65;
UPDATE UserAccounts SET userBalance = 45206.69, IsActive = 1 WHERE userID = 66;
UPDATE UserAccounts SET userBalance = 2735.62, IsActive = 1 WHERE userID = 67;
UPDATE UserAccounts SET userBalance = 4874.41, IsActive = 1 WHERE userID = 68;
UPDATE UserAccounts SET userBalance = 795.74, IsActive = 1 WHERE userID = 69;
UPDATE UserAccounts SET userBalance = 31806.13, IsActive = 1 WHERE userID = 70;
UPDATE UserAccounts SET userBalance = 364.17, IsActive = 1 WHERE userID = 71;
UPDATE UserAccounts SET userBalance = 9215.92, IsActive = 1 WHERE userID = 72;
UPDATE UserAccounts SET userBalance = 4910.19, IsActive = 1 WHERE userID = 73;
UPDATE UserAccounts SET userBalance = 3318.77, IsActive = 1 WHERE userID = 74;
UPDATE UserAccounts SET userBalance = 4544.23, IsActive = 1 WHERE userID = 75;
UPDATE UserAccounts SET userBalance = 25659.19, IsActive = 1 WHERE userID = 76;
UPDATE UserAccounts SET userBalance = 45348.83, IsActive = 1 WHERE userID = 77;
UPDATE UserAccounts SET userBalance = 287.5, IsActive = 1 WHERE userID = 78;
UPDATE UserAccounts SET userBalance = 9408.74, IsActive = 1 WHERE userID = 79;
UPDATE UserAccounts SET userBalance = 75.47, IsActive = 1 WHERE userID = 80;
UPDATE UserAccounts SET userBalance = 19064.88, IsActive = 1 WHERE userID = 81;
UPDATE UserAccounts SET userBalance = 3244.54, IsActive = 1 WHERE userID = 82;
UPDATE UserAccounts SET userBalance = 11074.93, IsActive = 1 WHERE userID = 83;
UPDATE UserAccounts SET userBalance = 72.15, IsActive = 1 WHERE userID = 84;
UPDATE UserAccounts SET userBalance = 31485.83, IsActive = 1 WHERE userID = 85;
UPDATE UserAccounts SET userBalance = 13422.42, IsActive = 1 WHERE userID = 86;
UPDATE UserAccounts SET userBalance = 6629.97, IsActive = 1 WHERE userID = 87;
UPDATE UserAccounts SET userBalance = 16288.49, IsActive = 1 WHERE userID = 88;
UPDATE UserAccounts SET userBalance = 46956.12, IsActive = 1 WHERE userID = 89;
UPDATE UserAccounts SET userBalance = 6658.61, IsActive = 1 WHERE userID = 90;
UPDATE UserAccounts SET userBalance = 570.24, IsActive = 1 WHERE userID = 91;
UPDATE UserAccounts SET userBalance = 342.75, IsActive = 1 WHERE userID = 92;
UPDATE UserAccounts SET userBalance = 2250.07, IsActive = 1 WHERE userID = 93;
UPDATE UserAccounts SET userBalance = 30.34, IsActive = 1 WHERE userID = 94;
UPDATE UserAccounts SET userBalance = 118.21, IsActive = 1 WHERE userID = 95;
UPDATE UserAccounts SET userBalance = 111.77, IsActive = 1 WHERE userID = 96;
UPDATE UserAccounts SET userBalance = 5905.82, IsActive = 1 WHERE userID = 97;
UPDATE UserAccounts SET userBalance = 350.22, IsActive = 1 WHERE userID = 98;
UPDATE UserAccounts SET userBalance = 27492.51, IsActive = 1 WHERE userID = 99;
UPDATE UserAccounts SET userBalance = 12949.99, IsActive = 1 WHERE userID = 100;
UPDATE UserAccounts SET userBalance = 213.17, IsActive = 1 WHERE userID = 101;
UPDATE UserAccounts SET userBalance = 186.67, IsActive = 1 WHERE userID = 102;
UPDATE UserAccounts SET userBalance = 3342.46, IsActive = 1 WHERE userID = 103;
UPDATE UserAccounts SET userBalance = 23253.86, IsActive = 1 WHERE userID = 104;
UPDATE UserAccounts SET userBalance = 3389.13, IsActive = 1 WHERE userID = 105;
UPDATE UserAccounts SET userBalance = 2447.93, IsActive = 1 WHERE userID = 106;
UPDATE UserAccounts SET userBalance = 25410.66, IsActive = 1 WHERE userID = 107;
UPDATE UserAccounts SET userBalance = 34560.25, IsActive = 1 WHERE userID = 108;
UPDATE UserAccounts SET userBalance = 16246.22, IsActive = 1 WHERE userID = 109;
UPDATE UserAccounts SET userBalance = 19737.14, IsActive = 1 WHERE userID = 110;
UPDATE UserAccounts SET userBalance = 18083.03, IsActive = 1 WHERE userID = 111;
UPDATE UserAccounts SET userBalance = 11482.3, IsActive = 1 WHERE userID = 112;
UPDATE UserAccounts SET userBalance = 335.29, IsActive = 1 WHERE userID = 113;
UPDATE UserAccounts SET userBalance = 577.59, IsActive = 1 WHERE userID = 114;
UPDATE UserAccounts SET userBalance = 459.54, IsActive = 1 WHERE userID = 115;
UPDATE UserAccounts SET userBalance = 13508.57, IsActive = 1 WHERE userID = 116;
UPDATE UserAccounts SET userBalance = 33888.95, IsActive = 1 WHERE userID = 117;
UPDATE UserAccounts SET userBalance = 13738.56, IsActive = 1 WHERE userID = 118;
UPDATE UserAccounts SET userBalance = 4813.01, IsActive = 1 WHERE userID = 119;
UPDATE UserAccounts SET userBalance = 1309.74, IsActive = 1 WHERE userID = 120;
UPDATE UserAccounts SET userBalance = 2317.48, IsActive = 1 WHERE userID = 121;
UPDATE UserAccounts SET userBalance = 410.8, IsActive = 1 WHERE userID = 122;
UPDATE UserAccounts SET userBalance = 2205.26, IsActive = 1 WHERE userID = 123;
UPDATE UserAccounts SET userBalance = 26114.9, IsActive = 1 WHERE userID = 124;
UPDATE UserAccounts SET userBalance = 3689.74, IsActive = 1 WHERE userID = 125;
UPDATE UserAccounts SET userBalance = 150.02, IsActive = 1 WHERE userID = 126;
UPDATE UserAccounts SET userBalance = 643.0, IsActive = 1 WHERE userID = 127;
UPDATE UserAccounts SET userBalance = 17450.89, IsActive = 1 WHERE userID = 128;
UPDATE UserAccounts SET userBalance = 27.84, IsActive = 1 WHERE userID = 129;
UPDATE UserAccounts SET userBalance = 17542.4, IsActive = 1 WHERE userID = 130;
UPDATE UserAccounts SET userBalance = 294.0, IsActive = 1 WHERE userID = 131;
UPDATE UserAccounts SET userBalance = 402.11, IsActive = 1 WHERE userID = 132;
UPDATE UserAccounts SET userBalance = 21847.76, IsActive = 1 WHERE userID = 133;
UPDATE UserAccounts SET userBalance = 209.16, IsActive = 1 WHERE userID = 134;
UPDATE UserAccounts SET userBalance = 3910.64, IsActive = 1 WHERE userID = 135;
UPDATE UserAccounts SET userBalance = 1515.26, IsActive = 1 WHERE userID = 136;
UPDATE UserAccounts SET userBalance = 3113.67, IsActive = 1 WHERE userID = 137;
UPDATE UserAccounts SET userBalance = 2777.68, IsActive = 1 WHERE userID = 138;
UPDATE UserAccounts SET userBalance = 8971.07, IsActive = 1 WHERE userID = 139;
UPDATE UserAccounts SET userBalance = 14040.08, IsActive = 1 WHERE userID = 140;
UPDATE UserAccounts SET userBalance = 48446.8, IsActive = 1 WHERE userID = 141;
UPDATE UserAccounts SET userBalance = 442.52, IsActive = 1 WHERE userID = 142;
UPDATE UserAccounts SET userBalance = 7732.04, IsActive = 1 WHERE userID = 143;
UPDATE UserAccounts SET userBalance = 1244.5, IsActive = 1 WHERE userID = 144;
UPDATE UserAccounts SET userBalance = 9909.17, IsActive = 1 WHERE userID = 145;
UPDATE UserAccounts SET userBalance = 3566.79, IsActive = 1 WHERE userID = 146;
UPDATE UserAccounts SET userBalance = 48276.07, IsActive = 1 WHERE userID = 147;
UPDATE UserAccounts SET userBalance = 9121.57, IsActive = 1 WHERE userID = 148;
UPDATE UserAccounts SET userBalance = 38970.6, IsActive = 1 WHERE userID = 149;
UPDATE UserAccounts SET userBalance = 23.21, IsActive = 1 WHERE userID = 150;
UPDATE UserAccounts SET userBalance = 115.62, IsActive = 1 WHERE userID = 151;
UPDATE UserAccounts SET userBalance = 157.28, IsActive = 1 WHERE userID = 152;
UPDATE UserAccounts SET userBalance = 332.51, IsActive = 1 WHERE userID = 153;
UPDATE UserAccounts SET userBalance = 72.37, IsActive = 1 WHERE userID = 154;
UPDATE UserAccounts SET userBalance = 12135.84, IsActive = 1 WHERE userID = 155;
UPDATE UserAccounts SET userBalance = 61.47, IsActive = 1 WHERE userID = 156;
UPDATE UserAccounts SET userBalance = 38399.45, IsActive = 1 WHERE userID = 157;
UPDATE UserAccounts SET userBalance = 35307.7, IsActive = 1 WHERE userID = 158;
UPDATE UserAccounts SET userBalance = 13064.68, IsActive = 1 WHERE userID = 159;
UPDATE UserAccounts SET userBalance = 534.4, IsActive = 1 WHERE userID = 160;
UPDATE UserAccounts SET userBalance = 17182.93, IsActive = 1 WHERE userID = 161;
UPDATE UserAccounts SET userBalance = 18762.75, IsActive = 1 WHERE userID = 162;
UPDATE UserAccounts SET userBalance = 4843.75, IsActive = 1 WHERE userID = 163;
UPDATE UserAccounts SET userBalance = 15390.26, IsActive = 1 WHERE userID = 164;
UPDATE UserAccounts SET userBalance = 17867.24, IsActive = 1 WHERE userID = 165;
UPDATE UserAccounts SET userBalance = 172.26, IsActive = 1 WHERE userID = 166;
UPDATE UserAccounts SET userBalance = 19961.37, IsActive = 1 WHERE userID = 167;
UPDATE UserAccounts SET userBalance = 16373.84, IsActive = 1 WHERE userID = 168;
UPDATE UserAccounts SET userBalance = 19429.06, IsActive = 1 WHERE userID = 169;
UPDATE UserAccounts SET userBalance = 389.42, IsActive = 1 WHERE userID = 170;
UPDATE UserAccounts SET userBalance = 16.7, IsActive = 1 WHERE userID = 171;
UPDATE UserAccounts SET userBalance = 31328.85, IsActive = 1 WHERE userID = 172;
UPDATE UserAccounts SET userBalance = 1452.04, IsActive = 1 WHERE userID = 173;
UPDATE UserAccounts SET userBalance = 275.58, IsActive = 1 WHERE userID = 174;
UPDATE UserAccounts SET userBalance = 1236.39, IsActive = 1 WHERE userID = 175;
UPDATE UserAccounts SET userBalance = 2574.78, IsActive = 1 WHERE userID = 176;
UPDATE UserAccounts SET userBalance = 138.67, IsActive = 1 WHERE userID = 177;
UPDATE UserAccounts SET userBalance = 12816.9, IsActive = 1 WHERE userID = 178;
UPDATE UserAccounts SET userBalance = 2598.3, IsActive = 1 WHERE userID = 179;
UPDATE UserAccounts SET userBalance = 16911.61, IsActive = 1 WHERE userID = 180;
UPDATE UserAccounts SET userBalance = 490.12, IsActive = 1 WHERE userID = 181;
UPDATE UserAccounts SET userBalance = 52.83, IsActive = 1 WHERE userID = 182;
UPDATE UserAccounts SET userBalance = 112.79, IsActive = 1 WHERE userID = 183;
UPDATE UserAccounts SET userBalance = 13484.46, IsActive = 1 WHERE userID = 184;
UPDATE UserAccounts SET userBalance = 9243.34, IsActive = 1 WHERE userID = 185;
UPDATE UserAccounts SET userBalance = 256.42, IsActive = 1 WHERE userID = 186;
UPDATE UserAccounts SET userBalance = 16647.86, IsActive = 1 WHERE userID = 187;
UPDATE UserAccounts SET userBalance = 11912.11, IsActive = 1 WHERE userID = 188;
UPDATE UserAccounts SET userBalance = 24164.28, IsActive = 1 WHERE userID = 189;
UPDATE UserAccounts SET userBalance = 5598.21, IsActive = 1 WHERE userID = 190;
UPDATE UserAccounts SET userBalance = 3927.54, IsActive = 1 WHERE userID = 191;
UPDATE UserAccounts SET userBalance = 1715.6, IsActive = 1 WHERE userID = 192;
UPDATE UserAccounts SET userBalance = 392.58, IsActive = 1 WHERE userID = 193;
UPDATE UserAccounts SET userBalance = 2290.46, IsActive = 1 WHERE userID = 194;
UPDATE UserAccounts SET userBalance = 7515.35, IsActive = 1 WHERE userID = 195;
UPDATE UserAccounts SET userBalance = 9067.54, IsActive = 1 WHERE userID = 196;
UPDATE UserAccounts SET userBalance = 945.39, IsActive = 1 WHERE userID = 197;
UPDATE UserAccounts SET userBalance = 856.59, IsActive = 1 WHERE userID = 198;
UPDATE UserAccounts SET userBalance = 16517.76, IsActive = 1 WHERE userID = 199;
UPDATE UserAccounts SET userBalance = 150.65, IsActive = 1 WHERE userID = 200;
UPDATE UserAccounts SET userBalance = 44906.86, IsActive = 1 WHERE userID = 201;
UPDATE UserAccounts SET userBalance = 48512.21, IsActive = 1 WHERE userID = 202;
UPDATE UserAccounts SET userBalance = 206.06, IsActive = 1 WHERE userID = 203;
UPDATE UserAccounts SET userBalance = 2818.95, IsActive = 1 WHERE userID = 204;
UPDATE UserAccounts SET userBalance = 317.29, IsActive = 1 WHERE userID = 205;
UPDATE UserAccounts SET userBalance = 221.73, IsActive = 1 WHERE userID = 206;
UPDATE UserAccounts SET userBalance = 3046.35, IsActive = 1 WHERE userID = 207;
UPDATE UserAccounts SET userBalance = 365.91, IsActive = 1 WHERE userID = 208;
UPDATE UserAccounts SET userBalance = 13190.32, IsActive = 1 WHERE userID = 209;
UPDATE UserAccounts SET userBalance = 363.27, IsActive = 1 WHERE userID = 210;
UPDATE UserAccounts SET userBalance = 65.94, IsActive = 1 WHERE userID = 211;
UPDATE UserAccounts SET userBalance = 12154.2, IsActive = 1 WHERE userID = 212;
UPDATE UserAccounts SET userBalance = 1104.16, IsActive = 1 WHERE userID = 213;
UPDATE UserAccounts SET userBalance = 3646.87, IsActive = 1 WHERE userID = 214;
UPDATE UserAccounts SET userBalance = 189.33, IsActive = 1 WHERE userID = 215;
UPDATE UserAccounts SET userBalance = 13362.56, IsActive = 1 WHERE userID = 216;
UPDATE UserAccounts SET userBalance = 479.28, IsActive = 1 WHERE userID = 217;
UPDATE UserAccounts SET userBalance = 16766.18, IsActive = 1 WHERE userID = 218;
UPDATE UserAccounts SET userBalance = 13487.68, IsActive = 1 WHERE userID = 219;
UPDATE UserAccounts SET userBalance = 18685.14, IsActive = 1 WHERE userID = 220;
UPDATE UserAccounts SET userBalance = 3099.1, IsActive = 1 WHERE userID = 221;
UPDATE UserAccounts SET userBalance = 378.17, IsActive = 1 WHERE userID = 222;
UPDATE UserAccounts SET userBalance = 20.19, IsActive = 1 WHERE userID = 223;
UPDATE UserAccounts SET userBalance = 395.46, IsActive = 1 WHERE userID = 224;
UPDATE UserAccounts SET userBalance = 4855.55, IsActive = 1 WHERE userID = 225;
UPDATE UserAccounts SET userBalance = 43869.22, IsActive = 1 WHERE userID = 226;
UPDATE UserAccounts SET userBalance = 3312.18, IsActive = 1 WHERE userID = 227;
UPDATE UserAccounts SET userBalance = 39979.16, IsActive = 1 WHERE userID = 228;
UPDATE UserAccounts SET userBalance = 359.37, IsActive = 1 WHERE userID = 229;
UPDATE UserAccounts SET userBalance = 174.25, IsActive = 1 WHERE userID = 230;
UPDATE UserAccounts SET userBalance = 281.3, IsActive = 1 WHERE userID = 231;
UPDATE UserAccounts SET userBalance = 1568.14, IsActive = 1 WHERE userID = 232;
UPDATE UserAccounts SET userBalance = 42679.67, IsActive = 1 WHERE userID = 233;
UPDATE UserAccounts SET userBalance = 2428.9, IsActive = 1 WHERE userID = 234;
UPDATE UserAccounts SET userBalance = 4590.22, IsActive = 1 WHERE userID = 235;
UPDATE UserAccounts SET userBalance = 15.07, IsActive = 1 WHERE userID = 236;
UPDATE UserAccounts SET userBalance = 3959.32, IsActive = 1 WHERE userID = 237;
UPDATE UserAccounts SET userBalance = 5139.84, IsActive = 1 WHERE userID = 238;
UPDATE UserAccounts SET userBalance = 380.74, IsActive = 1 WHERE userID = 239;
UPDATE UserAccounts SET userBalance = 53.89, IsActive = 1 WHERE userID = 240;
UPDATE UserAccounts SET userBalance = 4997.01, IsActive = 1 WHERE userID = 241;
UPDATE UserAccounts SET userBalance = 3670.75, IsActive = 1 WHERE userID = 242;
UPDATE UserAccounts SET userBalance = 257.5, IsActive = 1 WHERE userID = 243;
UPDATE UserAccounts SET userBalance = 1448.51, IsActive = 1 WHERE userID = 244;
UPDATE UserAccounts SET userBalance = 24333.98, IsActive = 1 WHERE userID = 245;
UPDATE UserAccounts SET userBalance = 1781.08, IsActive = 1 WHERE userID = 246;
UPDATE UserAccounts SET userBalance = 670.75, IsActive = 1 WHERE userID = 247;
UPDATE UserAccounts SET userBalance = 23165.86, IsActive = 1 WHERE userID = 248;
UPDATE UserAccounts SET userBalance = 40116.04, IsActive = 1 WHERE userID = 249;
UPDATE UserAccounts SET userBalance = 43098.14, IsActive = 1 WHERE userID = 250;
UPDATE UserAccounts SET userBalance = 2710.82, IsActive = 1 WHERE userID = 251;
UPDATE UserAccounts SET userBalance = 41600.84, IsActive = 1 WHERE userID = 252;
UPDATE UserAccounts SET userBalance = 3658.32, IsActive = 1 WHERE userID = 253;
UPDATE UserAccounts SET userBalance = 3892.69, IsActive = 1 WHERE userID = 254;
UPDATE UserAccounts SET userBalance = 16292.35, IsActive = 1 WHERE userID = 255;
UPDATE UserAccounts SET userBalance = 2675.06, IsActive = 1 WHERE userID = 256;
UPDATE UserAccounts SET userBalance = 98.07, IsActive = 1 WHERE userID = 257;
UPDATE UserAccounts SET userBalance = 167.79, IsActive = 1 WHERE userID = 258;
UPDATE UserAccounts SET userBalance = 19058.84, IsActive = 1 WHERE userID = 259;
UPDATE UserAccounts SET userBalance = 17990.17, IsActive = 1 WHERE userID = 260;
UPDATE UserAccounts SET userBalance = 36.22, IsActive = 1 WHERE userID = 261;
UPDATE UserAccounts SET userBalance = 22419.19, IsActive = 1 WHERE userID = 262;
UPDATE UserAccounts SET userBalance = 9453.77, IsActive = 1 WHERE userID = 263;
UPDATE UserAccounts SET userBalance = 49029.28, IsActive = 1 WHERE userID = 264;
UPDATE UserAccounts SET userBalance = 25698.36, IsActive = 1 WHERE userID = 265;
UPDATE UserAccounts SET userBalance = 10460.66, IsActive = 1 WHERE userID = 266;
UPDATE UserAccounts SET userBalance = 45546.58, IsActive = 1 WHERE userID = 267;
UPDATE UserAccounts SET userBalance = 390.9, IsActive = 1 WHERE userID = 268;
UPDATE UserAccounts SET userBalance = 395.34, IsActive = 1 WHERE userID = 269;
UPDATE UserAccounts SET userBalance = 28039.22, IsActive = 1 WHERE userID = 270;
UPDATE UserAccounts SET userBalance = 445.66, IsActive = 1 WHERE userID = 271;
UPDATE UserAccounts SET userBalance = 11460.23, IsActive = 1 WHERE userID = 272;
UPDATE UserAccounts SET userBalance = 23206.96, IsActive = 1 WHERE userID = 273;
UPDATE UserAccounts SET userBalance = 1842.34, IsActive = 1 WHERE userID = 274;
UPDATE UserAccounts SET userBalance = 43906.99, IsActive = 1 WHERE userID = 275;
UPDATE UserAccounts SET userBalance = 2646.28, IsActive = 1 WHERE userID = 276;
UPDATE UserAccounts SET userBalance = 432.45, IsActive = 1 WHERE userID = 277;
UPDATE UserAccounts SET userBalance = 1524.5, IsActive = 1 WHERE userID = 278;
UPDATE UserAccounts SET userBalance = 2228.67, IsActive = 1 WHERE userID = 279;
UPDATE UserAccounts SET userBalance = 36946.04, IsActive = 1 WHERE userID = 280;
UPDATE UserAccounts SET userBalance = 199.56, IsActive = 1 WHERE userID = 281;
UPDATE UserAccounts SET userBalance = 10971.49, IsActive = 1 WHERE userID = 282;
UPDATE UserAccounts SET userBalance = 43586.2, IsActive = 1 WHERE userID = 283;
UPDATE UserAccounts SET userBalance = 21799.48, IsActive = 1 WHERE userID = 284;
UPDATE UserAccounts SET userBalance = 184.55, IsActive = 1 WHERE userID = 285;
UPDATE UserAccounts SET userBalance = 14283.58, IsActive = 1 WHERE userID = 286;
UPDATE UserAccounts SET userBalance = 872.14, IsActive = 1 WHERE userID = 287;
UPDATE UserAccounts SET userBalance = 63.44, IsActive = 1 WHERE userID = 288;
UPDATE UserAccounts SET userBalance = 1899.06, IsActive = 1 WHERE userID = 289;
UPDATE UserAccounts SET userBalance = 396.22, IsActive = 1 WHERE userID = 290;
UPDATE UserAccounts SET userBalance = 3563.9, IsActive = 1 WHERE userID = 291;
UPDATE UserAccounts SET userBalance = 10511.38, IsActive = 1 WHERE userID = 292;
UPDATE UserAccounts SET userBalance = 387.73, IsActive = 1 WHERE userID = 293;
UPDATE UserAccounts SET userBalance = 19460.41, IsActive = 1 WHERE userID = 294;
UPDATE UserAccounts SET userBalance = 52.68, IsActive = 1 WHERE userID = 295;
UPDATE UserAccounts SET userBalance = 9376.73, IsActive = 1 WHERE userID = 296;
UPDATE UserAccounts SET userBalance = 20223.48, IsActive = 1 WHERE userID = 297;
UPDATE UserAccounts SET userBalance = 2928.36, IsActive = 1 WHERE userID = 298;
UPDATE UserAccounts SET userBalance = 486.23, IsActive = 1 WHERE userID = 299;
UPDATE UserAccounts SET userBalance = 6130.45, IsActive = 1 WHERE userID = 300;
UPDATE UserAccounts SET userBalance = 18911.23, IsActive = 1 WHERE userID = 301;
UPDATE UserAccounts SET userBalance = 3547.22, IsActive = 1 WHERE userID = 302;
UPDATE UserAccounts SET userBalance = 17572.41, IsActive = 1 WHERE userID = 303;
UPDATE UserAccounts SET userBalance = 3426.92, IsActive = 1 WHERE userID = 304;
UPDATE UserAccounts SET userBalance = 128.01, IsActive = 1 WHERE userID = 305;
UPDATE UserAccounts SET userBalance = 441.81, IsActive = 1 WHERE userID = 306;
UPDATE UserAccounts SET userBalance = 387.66, IsActive = 1 WHERE userID = 307;
UPDATE UserAccounts SET userBalance = 12821.86, IsActive = 1 WHERE userID = 308;
UPDATE UserAccounts SET userBalance = 2928.73, IsActive = 1 WHERE userID = 309;
UPDATE UserAccounts SET userBalance = 39947.77, IsActive = 1 WHERE userID = 310;
UPDATE UserAccounts SET userBalance = 20074.58, IsActive = 1 WHERE userID = 311;
UPDATE UserAccounts SET userBalance = 27459.17, IsActive = 1 WHERE userID = 312;
UPDATE UserAccounts SET userBalance = 10993.69, IsActive = 1 WHERE userID = 313;
UPDATE UserAccounts SET userBalance = 269.71, IsActive = 1 WHERE userID = 314;
UPDATE UserAccounts SET userBalance = 331.51, IsActive = 1 WHERE userID = 315;
UPDATE UserAccounts SET userBalance = 11430.91, IsActive = 1 WHERE userID = 316;
UPDATE UserAccounts SET userBalance = 17.98, IsActive = 1 WHERE userID = 317;
UPDATE UserAccounts SET userBalance = 33246.18, IsActive = 1 WHERE userID = 318;
UPDATE UserAccounts SET userBalance = 213.19, IsActive = 1 WHERE userID = 319;
UPDATE UserAccounts SET userBalance = 214.05, IsActive = 1 WHERE userID = 320;
UPDATE UserAccounts SET userBalance = 2199.63, IsActive = 1 WHERE userID = 321;
UPDATE UserAccounts SET userBalance = 2484.56, IsActive = 1 WHERE userID = 322;
UPDATE UserAccounts SET userBalance = 7507.84, IsActive = 1 WHERE userID = 323;
UPDATE UserAccounts SET userBalance = 951.63, IsActive = 1 WHERE userID = 324;
UPDATE UserAccounts SET userBalance = 357.55, IsActive = 1 WHERE userID = 325;
UPDATE UserAccounts SET userBalance = 2278.47, IsActive = 1 WHERE userID = 326;
UPDATE UserAccounts SET userBalance = 14326.71, IsActive = 1 WHERE userID = 327;
UPDATE UserAccounts SET userBalance = 2056.7, IsActive = 1 WHERE userID = 328;
UPDATE UserAccounts SET userBalance = 42308.15, IsActive = 1 WHERE userID = 329;
UPDATE UserAccounts SET userBalance = 4021.29, IsActive = 1 WHERE userID = 330;
UPDATE UserAccounts SET userBalance = 962.41, IsActive = 1 WHERE userID = 331;
UPDATE UserAccounts SET userBalance = 699.85, IsActive = 1 WHERE userID = 332;
UPDATE UserAccounts SET userBalance = 8091.25, IsActive = 1 WHERE userID = 333;
UPDATE UserAccounts SET userBalance = 498.33, IsActive = 1 WHERE userID = 334;
UPDATE UserAccounts SET userBalance = 4171.14, IsActive = 1 WHERE userID = 335;
UPDATE UserAccounts SET userBalance = 3316.51, IsActive = 1 WHERE userID = 336;
UPDATE UserAccounts SET userBalance = 36230.15, IsActive = 1 WHERE userID = 337;
UPDATE UserAccounts SET userBalance = 460.16, IsActive = 1 WHERE userID = 338;
UPDATE UserAccounts SET userBalance = 2662.55, IsActive = 1 WHERE userID = 339;
UPDATE UserAccounts SET userBalance = 29216.59, IsActive = 1 WHERE userID = 340;
UPDATE UserAccounts SET userBalance = 2476.8, IsActive = 1 WHERE userID = 341;
UPDATE UserAccounts SET userBalance = 45354.67, IsActive = 1 WHERE userID = 342;
UPDATE UserAccounts SET userBalance = 10900.63, IsActive = 1 WHERE userID = 343;
UPDATE UserAccounts SET userBalance = 14344.26, IsActive = 1 WHERE userID = 344;
UPDATE UserAccounts SET userBalance = 2678.2, IsActive = 1 WHERE userID = 345;
UPDATE UserAccounts SET userBalance = 34185.7, IsActive = 1 WHERE userID = 346;
UPDATE UserAccounts SET userBalance = 2163.47, IsActive = 1 WHERE userID = 347;
UPDATE UserAccounts SET userBalance = 3664.05, IsActive = 1 WHERE userID = 348;
UPDATE UserAccounts SET userBalance = 13495.28, IsActive = 1 WHERE userID = 349;
UPDATE UserAccounts SET userBalance = 882.59, IsActive = 1 WHERE userID = 350;
UPDATE UserAccounts SET userBalance = 245.91, IsActive = 1 WHERE userID = 351;
UPDATE UserAccounts SET userBalance = 1080.53, IsActive = 1 WHERE userID = 352;
UPDATE UserAccounts SET userBalance = 9886.28, IsActive = 1 WHERE userID = 353;
UPDATE UserAccounts SET userBalance = 1938.52, IsActive = 1 WHERE userID = 354;
UPDATE UserAccounts SET userBalance = 8704.96, IsActive = 1 WHERE userID = 355;
UPDATE UserAccounts SET userBalance = 17573.3, IsActive = 1 WHERE userID = 356;
UPDATE UserAccounts SET userBalance = 8749.92, IsActive = 1 WHERE userID = 357;
UPDATE UserAccounts SET userBalance = 473.13, IsActive = 1 WHERE userID = 358;
UPDATE UserAccounts SET userBalance = 217.4, IsActive = 1 WHERE userID = 359;
UPDATE UserAccounts SET userBalance = 460.46, IsActive = 1 WHERE userID = 360;
UPDATE UserAccounts SET userBalance = 32687.57, IsActive = 1 WHERE userID = 361;
UPDATE UserAccounts SET userBalance = 21288.51, IsActive = 1 WHERE userID = 362;
UPDATE UserAccounts SET userBalance = 423.34, IsActive = 1 WHERE userID = 363;
UPDATE UserAccounts SET userBalance = 10234.71, IsActive = 1 WHERE userID = 364;
UPDATE UserAccounts SET userBalance = 1436.08, IsActive = 1 WHERE userID = 365;
UPDATE UserAccounts SET userBalance = 1849.15, IsActive = 1 WHERE userID = 366;
UPDATE UserAccounts SET userBalance = 3877.11, IsActive = 1 WHERE userID = 367;
UPDATE UserAccounts SET userBalance = 24479.23, IsActive = 1 WHERE userID = 368;
UPDATE UserAccounts SET userBalance = 2102.98, IsActive = 1 WHERE userID = 369;
UPDATE UserAccounts SET userBalance = 17129.08, IsActive = 1 WHERE userID = 370;
UPDATE UserAccounts SET userBalance = 45512.0, IsActive = 1 WHERE userID = 371;
UPDATE UserAccounts SET userBalance = 66.92, IsActive = 1 WHERE userID = 372;
UPDATE UserAccounts SET userBalance = 398.18, IsActive = 1 WHERE userID = 373;
UPDATE UserAccounts SET userBalance = 14042.07, IsActive = 1 WHERE userID = 374;
UPDATE UserAccounts SET userBalance = 18259.38, IsActive = 1 WHERE userID = 375;
UPDATE UserAccounts SET userBalance = 6977.62, IsActive = 1 WHERE userID = 376;
UPDATE UserAccounts SET userBalance = 2036.23, IsActive = 1 WHERE userID = 377;
UPDATE UserAccounts SET userBalance = 4319.35, IsActive = 1 WHERE userID = 378;
UPDATE UserAccounts SET userBalance = 485.73, IsActive = 1 WHERE userID = 379;
UPDATE UserAccounts SET userBalance = 8188.13, IsActive = 1 WHERE userID = 380;
UPDATE UserAccounts SET userBalance = 19089.44, IsActive = 1 WHERE userID = 381;
UPDATE UserAccounts SET userBalance = 198.7, IsActive = 1 WHERE userID = 382;
UPDATE UserAccounts SET userBalance = 7734.57, IsActive = 1 WHERE userID = 383;
UPDATE UserAccounts SET userBalance = 341.37, IsActive = 1 WHERE userID = 384;
UPDATE UserAccounts SET userBalance = 15.32, IsActive = 1 WHERE userID = 385;
UPDATE UserAccounts SET userBalance = 37567.89, IsActive = 1 WHERE userID = 386;
UPDATE UserAccounts SET userBalance = 4660.36, IsActive = 1 WHERE userID = 387;
UPDATE UserAccounts SET userBalance = 268.77, IsActive = 1 WHERE userID = 388;
UPDATE UserAccounts SET userBalance = 24741.86, IsActive = 1 WHERE userID = 389;
UPDATE UserAccounts SET userBalance = 14145.41, IsActive = 1 WHERE userID = 390;
UPDATE UserAccounts SET userBalance = 169.53, IsActive = 1 WHERE userID = 391;
UPDATE UserAccounts SET userBalance = 403.63, IsActive = 1 WHERE userID = 392;
UPDATE UserAccounts SET userBalance = 45.8, IsActive = 1 WHERE userID = 393;
UPDATE UserAccounts SET userBalance = 31868.67, IsActive = 1 WHERE userID = 394;
UPDATE UserAccounts SET userBalance = 2390.3, IsActive = 1 WHERE userID = 395;
UPDATE UserAccounts SET userBalance = 1331.36, IsActive = 1 WHERE userID = 396;
UPDATE UserAccounts SET userBalance = 259.32, IsActive = 1 WHERE userID = 397;
UPDATE UserAccounts SET userBalance = 400.53, IsActive = 1 WHERE userID = 398;
UPDATE UserAccounts SET userBalance = 115.05, IsActive = 1 WHERE userID = 399;
UPDATE UserAccounts SET userBalance = 30920.75, IsActive = 1 WHERE userID = 400;
UPDATE UserAccounts SET userBalance = 36481.24, IsActive = 1 WHERE userID = 401;
UPDATE UserAccounts SET userBalance = 469.95, IsActive = 1 WHERE userID = 402;
UPDATE UserAccounts SET userBalance = 64.86, IsActive = 1 WHERE userID = 403;
UPDATE UserAccounts SET userBalance = 4307.84, IsActive = 1 WHERE userID = 404;
UPDATE UserAccounts SET userBalance = 479.35, IsActive = 1 WHERE userID = 405;
UPDATE UserAccounts SET userBalance = 4156.62, IsActive = 1 WHERE userID = 406;
UPDATE UserAccounts SET userBalance = 20.9, IsActive = 1 WHERE userID = 407;
UPDATE UserAccounts SET userBalance = 3947.14, IsActive = 1 WHERE userID = 408;
UPDATE UserAccounts SET userBalance = 4517.51, IsActive = 1 WHERE userID = 409;
UPDATE UserAccounts SET userBalance = 13976.33, IsActive = 1 WHERE userID = 410;
UPDATE UserAccounts SET userBalance = 434.76, IsActive = 1 WHERE userID = 411;
UPDATE UserAccounts SET userBalance = 3855.44, IsActive = 1 WHERE userID = 412;
UPDATE UserAccounts SET userBalance = 8045.48, IsActive = 1 WHERE userID = 413;
UPDATE UserAccounts SET userBalance = 13.42, IsActive = 1 WHERE userID = 414;
UPDATE UserAccounts SET userBalance = 15692.28, IsActive = 1 WHERE userID = 415;
UPDATE UserAccounts SET userBalance = 376.76, IsActive = 1 WHERE userID = 416;
UPDATE UserAccounts SET userBalance = 5677.79, IsActive = 1 WHERE userID = 417;
UPDATE UserAccounts SET userBalance = 7036.05, IsActive = 1 WHERE userID = 418;
UPDATE UserAccounts SET userBalance = 14578.37, IsActive = 1 WHERE userID = 419;
UPDATE UserAccounts SET userBalance = 9461.21, IsActive = 1 WHERE userID = 420;
UPDATE UserAccounts SET userBalance = 18769.58, IsActive = 1 WHERE userID = 421;
UPDATE UserAccounts SET userBalance = 3353.87, IsActive = 1 WHERE userID = 422;
UPDATE UserAccounts SET userBalance = 2018.11, IsActive = 1 WHERE userID = 423;
UPDATE UserAccounts SET userBalance = 3346.49, IsActive = 1 WHERE userID = 424;
UPDATE UserAccounts SET userBalance = 46597.92, IsActive = 1 WHERE userID = 425;
UPDATE UserAccounts SET userBalance = 14747.49, IsActive = 1 WHERE userID = 426;
UPDATE UserAccounts SET userBalance = 1945.31, IsActive = 1 WHERE userID = 427;
UPDATE UserAccounts SET userBalance = 384.41, IsActive = 1 WHERE userID = 428;
UPDATE UserAccounts SET userBalance = 187.74, IsActive = 1 WHERE userID = 429;
UPDATE UserAccounts SET userBalance = 91.83, IsActive = 1 WHERE userID = 430;
UPDATE UserAccounts SET userBalance = 99.07, IsActive = 1 WHERE userID = 431;
UPDATE UserAccounts SET userBalance = 37989.74, IsActive = 1 WHERE userID = 432;
UPDATE UserAccounts SET userBalance = 23.76, IsActive = 1 WHERE userID = 433;
UPDATE UserAccounts SET userBalance = 24876.27, IsActive = 1 WHERE userID = 434;
UPDATE UserAccounts SET userBalance = 369.18, IsActive = 1 WHERE userID = 435;
UPDATE UserAccounts SET userBalance = 9024.69, IsActive = 1 WHERE userID = 436;
UPDATE UserAccounts SET userBalance = 115.49, IsActive = 1 WHERE userID = 437;
UPDATE UserAccounts SET userBalance = 4807.25, IsActive = 1 WHERE userID = 438;
UPDATE UserAccounts SET userBalance = 427.15, IsActive = 1 WHERE userID = 439;
UPDATE UserAccounts SET userBalance = 33377.42, IsActive = 1 WHERE userID = 440;
UPDATE UserAccounts SET userBalance = 42.82, IsActive = 1 WHERE userID = 441;
UPDATE UserAccounts SET userBalance = 32127.76, IsActive = 1 WHERE userID = 442;
UPDATE UserAccounts SET userBalance = 365.4, IsActive = 1 WHERE userID = 443;
UPDATE UserAccounts SET userBalance = 73.37, IsActive = 1 WHERE userID = 444;
UPDATE UserAccounts SET userBalance = 40372.93, IsActive = 1 WHERE userID = 445;
UPDATE UserAccounts SET userBalance = 5331.96, IsActive = 1 WHERE userID = 446;
UPDATE UserAccounts SET userBalance = 271.86, IsActive = 1 WHERE userID = 447;
UPDATE UserAccounts SET userBalance = 8738.73, IsActive = 1 WHERE userID = 448;
UPDATE UserAccounts SET userBalance = 1224.22, IsActive = 1 WHERE userID = 449;
UPDATE UserAccounts SET userBalance = 11138.11, IsActive = 1 WHERE userID = 450;
UPDATE UserAccounts SET userBalance = 28580.1, IsActive = 1 WHERE userID = 451;
UPDATE UserAccounts SET userBalance = 391.77, IsActive = 1 WHERE userID = 452;
UPDATE UserAccounts SET userBalance = 321.76, IsActive = 1 WHERE userID = 453;
UPDATE UserAccounts SET userBalance = 17211.54, IsActive = 1 WHERE userID = 454;
UPDATE UserAccounts SET userBalance = 119.25, IsActive = 1 WHERE userID = 455;
UPDATE UserAccounts SET userBalance = 15382.71, IsActive = 1 WHERE userID = 456;
UPDATE UserAccounts SET userBalance = 4485.66, IsActive = 1 WHERE userID = 457;
UPDATE UserAccounts SET userBalance = 16474.46, IsActive = 1 WHERE userID = 458;
UPDATE UserAccounts SET userBalance = 2548.39, IsActive = 1 WHERE userID = 459;
UPDATE UserAccounts SET userBalance = 125.79, IsActive = 1 WHERE userID = 460;
UPDATE UserAccounts SET userBalance = 872.82, IsActive = 1 WHERE userID = 461;
UPDATE UserAccounts SET userBalance = 3894.38, IsActive = 1 WHERE userID = 462;
UPDATE UserAccounts SET userBalance = 1639.23, IsActive = 1 WHERE userID = 463;
UPDATE UserAccounts SET userBalance = 39814.79, IsActive = 1 WHERE userID = 464;
UPDATE UserAccounts SET userBalance = 8101.42, IsActive = 1 WHERE userID = 465;
UPDATE UserAccounts SET userBalance = 1904.6, IsActive = 1 WHERE userID = 466;
UPDATE UserAccounts SET userBalance = 407.75, IsActive = 1 WHERE userID = 467;
UPDATE UserAccounts SET userBalance = 47062.2, IsActive = 1 WHERE userID = 468;
UPDATE UserAccounts SET userBalance = 3631.84, IsActive = 1 WHERE userID = 469;
UPDATE UserAccounts SET userBalance = 14979.23, IsActive = 1 WHERE userID = 470;
UPDATE UserAccounts SET userBalance = 15239.03, IsActive = 1 WHERE userID = 471;
UPDATE UserAccounts SET userBalance = 8658.1, IsActive = 1 WHERE userID = 472;
UPDATE UserAccounts SET userBalance = 16761.74, IsActive = 1 WHERE userID = 473;
UPDATE UserAccounts SET userBalance = 5880.97, IsActive = 1 WHERE userID = 474;
UPDATE UserAccounts SET userBalance = 14726.2, IsActive = 1 WHERE userID = 475;
UPDATE UserAccounts SET userBalance = 2854.29 WHERE userID = 476;
UPDATE UserAccounts SET userBalance = 10021.28 WHERE userID = 477;
UPDATE UserAccounts SET userBalance = 349.61 WHERE userID = 478;
UPDATE UserAccounts SET userBalance = 12706.03 WHERE userID = 479;
UPDATE UserAccounts SET userBalance = 39278.39 WHERE userID = 480;
UPDATE UserAccounts SET userBalance = 174.76 WHERE userID = 481;
UPDATE UserAccounts SET userBalance = 58.97 WHERE userID = 482;
UPDATE UserAccounts SET userBalance = 26620.36 WHERE userID = 483;
UPDATE UserAccounts SET userBalance = 1145.46 WHERE userID = 484;
UPDATE UserAccounts SET userBalance = 24513.49 WHERE userID = 485;
UPDATE UserAccounts SET userBalance = 39440.27 WHERE userID = 486;
UPDATE UserAccounts SET userBalance = 487.38 WHERE userID = 487;
UPDATE UserAccounts SET userBalance = 6589.94 WHERE userID = 488;
UPDATE UserAccounts SET userBalance = 124.55 WHERE userID = 489;
UPDATE UserAccounts SET userBalance = 2819.71 WHERE userID = 490;
UPDATE UserAccounts SET userBalance = 15301.89 WHERE userID = 491;
UPDATE UserAccounts SET userBalance = 1778.69 WHERE userID = 492;
UPDATE UserAccounts SET userBalance = 16947.13 WHERE userID = 493;
UPDATE UserAccounts SET userBalance = 4392.66 WHERE userID = 494;
UPDATE UserAccounts SET userBalance = 23211.85 WHERE userID = 495;
UPDATE UserAccounts SET userBalance = 31686.37 WHERE userID = 496;
UPDATE UserAccounts SET userBalance = 13425.96 WHERE userID = 497;
UPDATE UserAccounts SET userBalance = 22682.56 WHERE userID = 498;
UPDATE UserAccounts SET userBalance = 15443.71 WHERE userID = 499;
UPDATE UserAccounts SET userBalance = 13411.2 WHERE userID = 500;

GO

SELECT * FROM UserAccounts
GO
-- Successfully generated 500 UPDATE statements
-- All balances are positive (> 0) and within DECIMAL(12,2) constraints
-- 95% of accounts set to IsActive = 1
