-- Generated INSERT statements for Vendors table
-- Total records: 500
-- Generated on: 2025-11-23 20:47:14

USE AKPayDB;
GO

INSERT INTO Vendors (vendorName, vendorBalance, lastUpdateTime, managerName, managerPhone, statusID)
VALUES ('LUMS Pharmacy', 1136.04, '2025-09-22 03:19:44', 'Imran Naqvi', '32022448878', 1);
INSERT INTO Vendors (vendorName, vendorBalance, lastUpdateTime, managerName, managerPhone, statusID)
VALUES ('LUMS Store', 19490.68, '2025-03-28 07:38:07', 'Hassan Mirza', '31380265067', 5);
INSERT INTO Vendors (vendorName, vendorBalance, lastUpdateTime, managerName, managerPhone, statusID)
VALUES ('Zakir', 18967.02, '2025-02-26 07:21:00', 'Fahad Hussain', '31424667290', 3);
GO

-- Successfully generated 500 INSERT statements
-- Approximately 15 records have NULL managerName (3.0%)
-- Approximately 15 records have NULL managerPhone (3.0%)
-- Approximately 50 records have status 'On Break' (10.0%)
-- Majority have status 'Open' (1) or 'Closed' (2)
-- Few have status 'Permanently Closed' (4) or 'Suspended' (5)
SELECT * FROM Vendors
GO