-- Generated INSERT statements for UserToUserTransactions table
-- Total records: 700
-- Generated on: 2025-11-23 17:03:08

USE AKPayDB;
GO

INSERT INTO UserToUserTransactions (toUserID, fromUserID, amount, txTimeStamp, txStatusID)
VALUES (206, 2, 1720.26, '2025-10-01 21:26:06', 3);
INSERT INTO UserToUserTransactions (toUserID, fromUserID, amount, txTimeStamp, txStatusID)
VALUES (82, 413, 112.03, '2025-10-04 17:45:51', 5);
INSERT INTO UserToUserTransactions (toUserID, fromUserID, amount, txTimeStamp, txStatusID)
VALUES (100, 447, 118.99, '2025-08-13 18:06:55', 3);

GO

-- Successfully generated 700 INSERT statements
-- Status distribution approx: 60% Accepted, 12% Pending, 12% Sync Pending, 9% Sync Failed, 7% Invalid
-- Amount tiers: 50% 10-300, 30% 300-1500, 15% 1500-5000, 5% 5000-12000
-- Timestamp window: Last 4 months
-- All records enforce toUserID <> fromUserID and amount > 0

SELECT * FROM UserToUserTransactions
GO